MONGODB_URL=YourConnectionString
# Example Connection String:-
# mongodb://127.0.0.1:27017/rest-api-nodejs-mongodb
# mongodb://[MongodbHost]:[PORT]/[DatabaseName]

JWT_SECRET=YourSecret
# Example Secret:-  abcdefghijklmnopqrstuvwxyz1234567890
